<% include partials/header %>
	<main>
		<section class="horizontal-scroll">
			<article class="exploreprofile">
				<h2>Lisa</h2>
				<img src="../images/lisa.jpg">
				<p>11km</p>
				<p>2015 Kawasaki Ninja 300</p>
			</article>
			<article class="exploreprofile">
				<h2>Amanda</h2>
				<img src="../images/amanda.jpg">
				<p>32km</p>
				<p>2015 KTM rc125</p>
			</article>
		</section>
	</main>
</body>

</html>